---
layout: layouts/backpage.njk
title: Digital Badges - Branding Digital Badge Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Digital badge guidelines</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}