---
layout: layouts/backpage.njk
title: Diversity, Equity, and Inclusion Community Logos - DEI Community Logo Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Diversity, Equity, and Inclusion (DEI) community logos</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}