---
layout: layouts/backpage.njk
title: Endorsement logos - Endorsement Logo Brand Standards | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Endorsement</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}