---
layout: layouts/backpage.njk
title: Initiative Logos - Initiative Logo Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Initiative</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}