---
layout: layouts/backpage.njk
title: Red Hat logo standards
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Logo</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}