---
layout: layouts/backpage.njk
title: Partner Logos - Partner Logo Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Partner</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}