---
layout: layouts/backpage.njk
title: Product logos - Guidelines for product logos | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Products</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}