---
layout: layouts/backpage.njk
title: Red Hat and IBM - Red Hat and IBM Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Red Hat and IBM</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}