---
layout: layouts/backpage.njk
title: Red Hat Summit Logo - Red Hat Summit Logo Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Summit</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}