---
layout: layouts/backpage.njk
title: Universal Logos - Universal Logo Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Universal</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}