---
layout: layouts/backpage.njk
title: Color - Color Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Color</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}