---
layout: layouts/backpage.njk
title: Icons - Icon Branding Guide | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Icons</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}