  <!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#tY5dssIgDEb74ALchI8Uf+4C3IQLCCVVlJt0INXp6hWczviklpn6AAnhfGeyWlTV8l4dSJx4tNW+AxEM1PpBo8d/JIn7bb2uN7prlWuYdL6ibsGk06BhvtTnWBb0ji5oHRUH5eYyXJwbuJfe4MTcWJ90ONn44jaJWyuDAvXu7+OnDifVCIzlmypjLXPa69VNyRBc3RHEMamIaWULYXg3VzZwZ/lGs4uTo8/PPP6JfHYpXzF4GOb2TvEJmDhW1QGhLwwV4jHxD50qQ0/lAw
  -->
   <script type="importmap">
  {
    "imports": {
      "@patternfly/elements/pf-icon/icons/fab/facebook.js": "https://ga.jspm.io/npm:@patternfly/elements@2.0.1/pf-icon/icons/fab/facebook.js",
      "@patternfly/elements/pf-icon/icons/fab/linkedin.js": "https://ga.jspm.io/npm:@patternfly/elements@2.0.1/pf-icon/icons/fab/linkedin.js",
      "@patternfly/elements/pf-icon/icons/fab/twitter.js": "https://ga.jspm.io/npm:@patternfly/elements@2.0.1/pf-icon/icons/fab/twitter.js",
      "@patternfly/elements/pf-icon/icons/fab/youtube.js": "https://ga.jspm.io/npm:@patternfly/elements@2.0.1/pf-icon/icons/fab/youtube.js",
      "@patternfly/elements/pf-icon/pf-icon.js": "https://ga.jspm.io/npm:@patternfly/elements@2.0.1/pf-icon/pf-icon.js",
      "@rhds/elements": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/rhds.min.js",
      "@rhds/elements/rh-cta/rh-cta.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-cta/rh-cta.js",
      "@rhds/elements/rh-footer/rh-footer.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-footer/rh-footer.js",
      "@rhds/elements/rh-navigation-secondary/rh-navigation-secondary-dropdown.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-navigation-secondary/rh-navigation-secondary-dropdown.js",
      "@rhds/elements/rh-navigation-secondary/rh-navigation-secondary-menu-section.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-navigation-secondary/rh-navigation-secondary-menu-section.js",
      "@rhds/elements/rh-navigation-secondary/rh-navigation-secondary-menu.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-navigation-secondary/rh-navigation-secondary-menu.js",
      "@rhds/elements/rh-navigation-secondary/rh-navigation-secondary-overlay.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-navigation-secondary/rh-navigation-secondary-overlay.js",
      "@rhds/elements/rh-navigation-secondary/rh-navigation-secondary.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-navigation-secondary/rh-navigation-secondary.js",
      "@rhds/elements/rh-tabs/rh-tab-panel.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-tabs/rh-tab-panel.js",
      "@rhds/elements/rh-tabs/rh-tab.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-tabs/rh-tab.js",
      "@rhds/elements/rh-tabs/rh-tabs.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-tabs/rh-tabs.js"
    },
    "scopes": {
      "https://ga.jspm.io/": {
        "@lit/reactive-element": "https://ga.jspm.io/npm:@lit/reactive-element@1.6.1/development/reactive-element.js",
        "@lit/reactive-element/decorators/": "https://ga.jspm.io/npm:@lit/reactive-element@1.6.1/development/decorators/",
        "@patternfly/elements/": "https://ga.jspm.io/npm:@patternfly/elements@2.0.1/",
        "@patternfly/pfe-core": "https://ga.jspm.io/npm:@patternfly/pfe-core@2.1.0/core.js",
        "@patternfly/pfe-core/": "https://ga.jspm.io/npm:@patternfly/pfe-core@2.1.0/",
        "@rhds/elements/rh-accordion/rh-accordion.js": "https://ga.jspm.io/npm:@rhds/elements@1.0.0-beta.34/elements/rh-accordion/rh-accordion.js",
        "lit": "https://ga.jspm.io/npm:lit@2.6.1/index.js",
        "lit-element/lit-element.js": "https://ga.jspm.io/npm:lit-element@3.3.0/development/lit-element.js",
        "lit-html": "https://ga.jspm.io/npm:lit-html@2.7.0/development/lit-html.js",
        "lit-html/": "https://ga.jspm.io/npm:lit-html@2.7.0/development/",
        "lit/": "https://ga.jspm.io/npm:lit@2.6.1/",
        "tslib": "https://ga.jspm.io/npm:tslib@2.5.0/tslib.es6.js"
      }
    }
  }
  </script>