---
layout: layouts/backpage.njk
title: Brand Standards - Templates | Red Hat
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Templates</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}