---
layout: layouts/backpage.njk
title: Red Hat brand standards - Our history
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>History</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}