---
layout: layouts/backpage.njk
title: ed Hat brand standards - Our personality
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Personality</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}