---
layout: layouts/backpage.njk
title: Red Hat brand strategy
---

{% renderTemplate "webc" %}
  <rhb-band>
    <rhb-container>
      <h2>Strategy</h2>
    </rhb-container>
  </rhb-band>
{% endrenderTemplate %}