*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--rh-font-family-body-text, RedHatText, 'Red Hat Text', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-size: 1rem;
  font-weight: var(--rh-font-weight-body-text-regular, 400);
  line-height: var(--rh-line-height, 1.5);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--rh-font-family-heading, RedHatDisplay, 'Red Hat Display', 'Noto Sans Arabic', 'Noto Sans Hebrew', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Malayalam', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans Thai', Helvetica, Arial, sans-serif);
  font-weight: var(--rh-font-weight-heading-medium, 500);
}

h1 {
  font-size: var(--rh-font-size-heading-2xl, 3rem);
}

h2 {
  font-size: var(--rh-font-size-heading-xl, 2.5rem);
}

h3 {
  font-size: var(--rh-font-size-heading-lg, 2.25rem);
}

h4 {
  font-size: var(--rh-font-size-heading-md, 1.75rem);
}

h5 {
  font-size: var(--rh-font-size-heading-sm, 1.5rem);
}

h6 {
  font-size: var(--rh-font-size-heading-xs, 1.25rem);
}

img {
  max-width: 100%;
  height: auto;
}

.font-xs { font-size: var(--rh-font-size-body-text-xs, 0.75rem);}
.font-sm { font-size: var(--rh-font-size-body-text-sm, 0.875rem); }
.font-md { font-size: var(--rh-font-size-body-text-md, 1rem); }
.font-lg { font-size: var(--rh-font-size-body-text-lg, 1.125rem); }
.font-xl { font-size: var(--rh-font-size-body-text-xl, 1.25rem); }
.font-2xl { font-size: var(--rh-font-size-body-text-2xl, 1.5rem); }

.border-sm { border-style: solid; border-width: var(--rh-border-width-sm, 1px); }
.border-md { border-style: solid; border-width: var(--rh-border-width-md, 2px); }
.border-lg { border-style: solid; border-width: var(--rh-border-width-lg, 3px); }
.border-xl { border-style: solid; border-width: var(--rh-border-width-lg, 10px); }

.border-subtle { border-color: var(--rh-color-border-subtle-on-light, #c7c7c7); }
.border-strong { border-color: var(--rh-color-border-strong-on-light, #151515); }
.border-interactive { border-color: var(--rh-color-border-interactive-on-light, #0066cc); }
.border-update { border-color: var(--rh-color-gold-400, #efff2e); }

.border-radius-sharp { border-radius: var(--rh-border-radius-sharp, 0); }
.border-radius { border-radius: var(--rh-border-radius-default, 3px); }
.border-radius-pill { border-radius: var(--rh-border-radius-pill, 64px); }

.background-color-subtle { background-color: var(--rh-color-surface-lighter, #f2f2f2); }
.background-color-brand-red-on-light { background-color: var(--rh-color-brand-red-on-light, #ee0000); }

.rh-cta-link {
  display: flex;
  width: 100%;
  padding-block: var(--rh-space-md, 16px);
  border: var(--rh-border-width-sm, 1px) solid var(--rh-color-border-subtle-on-light, #d2d2d2);
  border-radius: var(--rh-border-radius-default, 3px);
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.rh-cta-link:hover {
  background-color: var(--rh-color-surface-light, #f0f0f0);
  text-decoration: underline;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: var(--rh-space-md, 8px);
}

.success {
  color: var(--rh-color-green-500, #3e8635);
}

.danger {
  color: #a30000; /* WARNING: non-token value */
}

rhb-band + rhb-band {
  padding-block-start: 0px !important;
}